.page {
  min-width: 320px;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
  background-color: #000;
  box-sizing: border-box;
}

.header {
  max-width: 880px;
}

/* @media screen and (min-width: 425px) {
    .lead__subtitile {
      width: 85%;
      font-size: 22px;
    }
  }

  @media screen and (min-width: 640px) {
    .lead__subtitile {
      width: 80%;
      font-size: 26px;
    }
  }

  @media screen and (min-width: 768px) {
    .lead__subtitile {
      width: 75%;
      font-size: 30px;
      line-height: 1.2;
      padding: 32px 0 56px;
    }
  }

  @media screen and (min-width: 1024px) {
    .lead__subtitile {
      width: 67%;
    }
  }

  @media screen and (min-width: 1280px) {
    .lead__subtitile {
      padding-bottom: 64px;
      width: 65%;
    }
  } */

.page__header {
  margin: 0 auto;
}

.logo {
  width: 104px;
  height: 24px;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 120px;
    height: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .logo {
    width: 142px;
    height: 33px;
  }
}

.header__logo {
  margin: 28px 0 32px 27px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin: 36px 0 38px 27px;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    margin: 40px 0 38px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .header__logo {
    margin: 44px 0 41px 0px;
  }
}

.header__line {
  border-bottom: 1px solid #545454;
  opacity: 0.7;
}

.content {
  max-width: 1280px;
  color: white;
  margin: 0 auto;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .profile {
    max-width: 880px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.content__profile {
  width: 88%;
  margin: 42px auto 36px;
}

@media screen and (min-width: 768px) {
  .content__profile {
    margin: 40px auto 45px;
  }
}

@media screen and (min-width: 1024px) {
  .content__profile {
    margin: 40px auto 51px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__two-columns {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .profile__two-columns {
    max-width: 600px;
    margin-top: 40px;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .profile__two-columns {
    max-width: 730px;
  }
}

.profile__info {
  min-width: 282px;
  min-height: auto;
  margin: 26px auto 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (min-width: 768px) {
  .profile__info {
    flex-direction: row;
    justify-content: space-between;
    position: static;
    margin: 0;
  }
}

.profile__client-info {
  min-width: 282px;
}

@media screen and (min-width: 1280px) {
  .profile__client-info {
    min-width: 320px;
  }
}

.profile__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 27px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .profile__title {
    margin: 0;
    text-align: start;
    font-size: 32px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1024px) {
  .profile__title {
    font-size: 38px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1280px) {
  .profile__title {
    font-size: 42px;
    line-height: 1.14;
  }
}

.profile__subtitle {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  margin: 14px auto 36px;
}

@media screen and (min-width: 768px) {
  .profile__subtitle {
    margin-top: 16px;
    text-align: start;
    font-size: 16px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1024px) {
  .profile__subtitle {
    margin-top: 16px;
    text-align: start;
    font-size: 18px;
    line-height: 1.22;
  }
}

.profile__button {
  position: absolute;
  top: 8px;
  right: 19px;
}

@media screen and (min-width: 768px) {
  .profile__button {
    position: static;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__button {
    margin-top: 16px;
  }
}

.profile__edit-button {
  padding: 0;
  background-color: #000;
  border: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__button-image {
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .profile__button-image {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button-image {
    width: 22px;
    height: 22px;
  }
}

.profile__add-button {
  padding: 0;
  background-color: black;
  border: none;
  background-image: url("./images/profile__Add-Button.svg");
  background-size: cover;
  width: 282px;
  height: 50px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .profile__add-button {
    background-image: url("./images/profile__add-button\ 768px.svg");
    width: 150px;
    margin-top: 4px;
  }
}

.cards {
}

.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .elements {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    column-gap: 17px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1024px) {
  .elements {
    grid-template-columns: repeat(3, 282px);
  }
}

.element {
  width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .element {
    margin-bottom: 0;
  }
}

.element:last-child {
  margin-bottom: 0px;
}

.element__card {
  margin: 0;
}

.element__image {
  margin: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
  object-position: center;
}

.element__desc {
  max-width: 190px;
  color: black;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 900;
  padding: 25px 0 0 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__icon {
  border: none;
  background-color: white;
  position: absolute;
  top: 312px;
  right: 30px;
}

.element__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  width: 90%;
  max-width: 880px;
}

.page__footer {
  padding: 48px 0 36px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .page__footer {
    padding: 54px 0 46px;
  }
}

@media screen and (min-width: 1280px) {
  .page__footer {
    padding: 64px 0 60px;
  }
}

.footer__desc {
  color: #545454;
  margin: 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .footer__desc {
    font-size: 16px;
    line-height: 1.22;
  }
}

@media screen and (min-width: 1280px) {
  .footer__desc {
    font-size: 18px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;




}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  opacity: .5;
}


.overlay_display_active {
  display: flex;
}



.popup {
  width: 88%;
  min-height: 322px;
  display: flex;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;

}

@media screen and (min-width: 425px) {
  .popup {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  .popup {
    width: 40%;

  }
}

@media screen and (min-width: 1024px) {
  .popup {
    width: 40%;
  }
}

@media screen and (min-width: 1280px) {
  .popup {
    max-width: 430px;
  }
}

.popup__close-button {
  background-image: url("./images/popup__close-icon.svg");
  width: 26px;
  height: 26px;
  background-size: cover;
  position: absolute;
  top: -40px;
  right: 0px;
  background-color: black;
  border: none;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -32px;
    right: -32px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
    top: -40px;
    right: -40px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.popup__main {
  width: 85%;
  margin: 0 auto;
}

.popup__profile {
}

.popup__form-contaiter {
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.popup__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  padding: 25px 0 75px;
  text-align: center;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .popup__title {
    font-size: 20px;
    line-height: 1.21;
    padding: 29px 0 65px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__title {
    font-size: 22px;
    line-height: 1.21;
    padding: 32px 0 60px;
  }
}

@media screen and (min-width: 1280px) {
  .popup__title {
    font-size: 24px;
    line-height: 1.2;
    padding: 34px 0 54px;
  }
}

.popup__item {
  width: 100%;
  padding: 0 0 13px 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.popup__item:last-of-type {
  margin-bottom: 45px;
}

.popup__submit-button {
  width: 100%;
  border-radius: 2px;

  font-size: 14px;
  line-height: 1.21;
  background-color: #000;
  color: #ffffff;
  border: 0;
  padding: 14px 0;
}

@media screen and (min-width: 768px) {
  .popup__submit-button {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .popup__submit-button {
    font-size: 18px;
    line-height: 1.22;
  }
}

.popup__submit-button:hover {
  opacity: 0.8;
}
