.profile__button {
  position: absolute;
  top: 8px;
  right: 19px;
}

@media screen and (min-width: 768px) {
  .profile__button {
    position: static;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .profile__button {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__button {
    margin-top: 16px;
  }
}
